.post__block{
    width: 100%;
    float: left;
    margin: 15px 0;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    .thumbnail{
        width: 100%;
        height: 280px;
        float: left;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .description{
        width: 100%;
        height: 190px;
        overflow: hidden;
        float: left;
        padding: 25px 20px;
        span{
            font-family: Open Sans;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            font-size: 16px;
            color: #202020;
            margin-bottom: 5px;
        }
        h6{
            margin-bottom: 16px;       
            color: #202020;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
        }
        p{
            margin-bottom: 0;
        }
    }
    &:hover{
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
        h6{
            color: #D5287A;
        }
    }
}
.share__block{
    width: 100%;
    float: left;
    margin: 15px 0 46px;
    span{
        display: block;
        margin-right: 10px;
        margin-top: 4px;
        font-weight: 300;
        line-height: normal;
        font-size: 20px;
        color: #202020;
        float: left;
    }
    div{
        width: 34px;
        height: 34px;
        display: block;
        float: left;
        margin-left: 10px;
        background-color: #D5287A;
        cursor: pointer;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
        }
        &:hover{
            &::before{
                -webkit-transform: rotateY(360deg);
                        transform: rotateY(360deg);
            }
        }
        &.messenger{
            &::before{
                width: 18px;
                height: 18px;
                margin: -9px 0 0 -9px;
                background-image: url(../images/messenger-small-white.svg);
            }
        }
        &.facebook{
            &::before{
                width: 10px;
                height: 18px;
                margin: -9px 0 0 -5px;
                background-image: url(../images/facebook-white.svg);
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .post__block .description{
        height: auto;
    }
}