.equipment__block{
    width: 100%;
    float: left;
    margin: 15px 0;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    .thumbnail{
        width: 100%;
        height: 220px;
        float: left;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .title{
        width: 100%;
        height: 95px;
        float: left;
        padding: 21px 30px 25px 30px;
        h6{
            font-weight: 300;
            line-height: normal;
            font-size: 20px;
            color: #202020;
            margin-bottom: 0;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
        }
    }
    &:hover{
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
        h6{
            color: #D5287A;
        }
    }
}
.equipment__row{
    width: 100%;
    float: left;
    .description{
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }
    .details{
        width: 100%;
        float: left;
        margin: 21px 0 0;
    }
}
.to__order{
    margin-bottom: 50px;
}