/*Footer*/
footer{
    width: 100%;
    float: left;
    margin-top: 80px;
    .contact__block{
        width: 100%;
        float: left;
        padding: 60px 0 70px;
        background-color: #D5287A;
        .content{
            h5{
                margin-bottom: 13px;
                color: #fff;
            }
            p{
                margin-bottom: 0;
                color: #fff;
            }
        }
    }
    .footer__line{
        width: 100%;
        float: left;
        padding: 30px 0 15px;
        background-color: #fff;
        // background-color: #151515;
    }
    .footer__nav{
        width: 100%;
        float: left;
        margin: 23px 0 0 0;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            line-height: 18px;
            li{
                display: inline-block;
                margin: 0;
                line-height: 18px;
                padding-left: 0;
                &::before{
                    display: none;
                }
                a{
                    font-weight: normal;
                    line-height: normal;
                    font-size: 14px;
                    color: #151515;
                    margin: 0 15px;
                    display: block;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        width: 100%;
                        display: block;
                        height: 1px;
                        background-color: #D5287A;
                        -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                        opacity: 0;
                        visibility: hidden;
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }
                    &:hover{
                        text-decoration: none;
                        color: #D5287A;
                        // -webkit-transform: translateY(-5px);
                        //         transform: translateY(-5px);
                        &::before{
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .copyright{
        width: 100%;
        float: left;
        margin: 34px 0 0 0;
        p{
            font-weight: normal;
            line-height: 18px;
            font-size: 12px;
            color: #FFFFFF;
            opacity: 0.4;
            margin-bottom: 0;
        }
    }
}
.social__block{
    float: right;
    h6{
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #151515;
        margin-bottom: 0;
        margin-left: 10px;
    }
    a{
        width: 34px;
        height: 34px;
        display: block;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        background: #D5287A;
        position: relative;
        &:hover{
            background: #515151;
            &::before{
                -webkit-transform: rotateY(360deg);
                        transform: rotateY(360deg);
            }
        }
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
        }
        &.messenger{
            &::before{
                width: 18px;
                height: 18px;
                margin: -9px 0 0 -9px;
                background-image: url(../images/messenger-small-white.svg);
            }
        }
        &.viber{
            &::before{
                width: 16px;
                height: 18px;
                margin: -9px 0 0 -8px;
                background-image: url(../images/viber-small-white.svg);
            }
        }
        &.whatsapp{
            &::before{
                width: 18px;
                height: 18px;
                margin: -9px 0 0 -9px;
                background-image: url(../images/whatsapp-small-white.svg);
            }
        }
        &.facebook{
            &::before{
                width: 10px;
                height: 18px;
                margin: -9px 0 0 -5px;
                background-image: url(../images/facebook-white.svg);
            }
        }
        &.instagram{
            &::before{
                width: 18px;
                height: 18px;
                margin: -9px 0 0 -9px;
                background-image: url(../images/instagram-white.svg);
            }
        }
        &.youtube{
            &::before{
                width: 18px;
                height: 14px;
                margin: -7px 0 0 -9px;
                background-image: url(../images/youtube.svg);
            }
        }
        &.telegram{
            &::before{
                width: 18px;
                height: 17px;
                margin: -8.5px 0 0 -9px;
                background-image: url(../images/telegram.svg);
            }
        }
    }
}

.popup__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(32, 32, 32, 0.8);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    &.show{
        opacity: 1;
        visibility: visible;
    }
    .popup{
        width: 100%;
        max-width: 570px;
        background-color: #fff;
        padding: 40px 30px 50px;
        position: absolute;
        top: 55%;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        &.show{
            top: 50%;
            opacity: 1;
            visibility: visible;
        }
        form{
            text-align: center;
        }
        .submit__btn{
            min-width: 223px;
            margin: 0 auto;
            float: none;
            clear: both;
            display: inline-block;
            input{
                min-width: 217px;
            }
        }
        span.wpcf7-not-valid-tip{
            bottom: 5px;
        }
        .close__popup{
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            top: 25px;
            right: 25px;
            cursor: pointer;
            &::before{
                content: '';
                width: 25px;
                height: 1px;
                display: block;
                background-color: #202020;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -0.5px 0 0 -12.5px;
                -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
            }
            &::after{
                content: '';
                width: 25px;
                height: 1px;
                display: block;
                background-color: #202020;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -0.5px 0 0 -12.5px;
                -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    footer{
        .footer__nav{
            text-align: right;
        }
        .social__block{
            float: left;
            margin: 30px 0 0 0;
            h6{
                margin-left: 0;
            }
            a{
                margin-left: 0;
                margin-right: 10px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    footer {
        .footer__nav{
            margin: 30px 0 0 0;
            text-align: left;
            ul{
                li{
                    a{
                        padding: 0 10px 0 0;
                        margin: 0 20px 0 0;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    footer .footer__nav ul li{
        width: 100%;
        margin: 10px 0;
    }
}