@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic');
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #D5287A;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(16,16,16,1);
}
::-webkit-scrollbar-thumb:active {
    background: #000;
}
html{
    overflow-x: hidden;
}
.preloader__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 1000;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    &.hide{
        opacity: 0;
        visibility: hidden;
    }
    .whirlpool{
        margin: -24px 0 0 -24px;
        height: 49px;
        width: 49px;
        animation: cssload-rotate 1150ms linear infinite;
            -o-animation: cssload-rotate 1150ms linear infinite;
            -ms-animation: cssload-rotate 1150ms linear infinite;
            -webkit-animation: cssload-rotate 1150ms linear infinite;
            -moz-animation: cssload-rotate 1150ms linear infinite;
        &::before{
            content: "";
            margin: -22px 0 0 -22px;
            height: 43px;
            width: 43px;
            animation: cssload-rotate 1150ms linear infinite;
                -o-animation: cssload-rotate 1150ms linear infinite;
                -ms-animation: cssload-rotate 1150ms linear infinite;
                -webkit-animation: cssload-rotate 1150ms linear infinite;
                -moz-animation: cssload-rotate 1150ms linear infinite;
        }
        &::after{
            content: "";
            margin: -28px 0 0 -28px;
            height: 55px;
            width: 55px;
            animation: cssload-rotate 2300ms linear infinite;
                -o-animation: cssload-rotate 2300ms linear infinite;
                -ms-animation: cssload-rotate 2300ms linear infinite;
                -webkit-animation: cssload-rotate 2300ms linear infinite;
                -moz-animation: cssload-rotate 2300ms linear infinite;
        }
    }
    .whirlpool,
    .whirlpool::before,
    .whirlpool::after{
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid rgb(204,204,204);
        border-left-color: #D5287A;
        border-radius: 974px;
            -o-border-radius: 974px;
            -ms-border-radius: 974px;
            -webkit-border-radius: 974px;
            -moz-border-radius: 974px;
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
main{
    width: 100%;
    min-height: 60vh;
    float: left;
    &.padding{
        padding: 198px 0 0;
    }
    h1{
        font-weight: 300;
        line-height: normal;
        font-size: 40px;
        margin-bottom: 34px;
    }
    h2{
        font-weight: 300;
        line-height: normal;
        font-size: 40px;
        margin-bottom: 30px;
    }
    h3{
        font-weight: 300;
        line-height: normal;
        font-size: 34px;
    }
    h4{
        font-weight: 300;
        line-height: normal;
        font-size: 28px;
    }
    h5{
        font-weight: 300;
        line-height: 32px;
        font-size: 24px;
    }
    h6{
        font-weight: 300;
        line-height: normal;
        font-size: 20px;
        margin-bottom: 16px;
    }
    p{
        font-weight: 300;
        line-height: 24px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #202020;
    }
    img{
        max-width: 100%;
        height: auto;
        &.alignleft{
            float: left;
            margin: 0 30px 21px 0;
        }
        &.alignright{
            float: right;
            margin: 0 0 21px 30px;
        }
        &.aligncenter{
            float: none;
            display: block;
            margin: 0 auto 20px;
        }
    }
    li{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 24px;
        font-size: 16px;
        color: #202020;
    }
    ul{
        margin: 2.5px 0;
        padding-left: 0;
        ul{
            padding-left: 20px
        }
        li{
            list-style: none;
            padding-left: 14px;
            position: relative;
            margin: 2.5px 0;
            &::before{
                content: '';
                width: 4px;
                height: 4px;
                display: block;
                border-radius: 50%;
                background-color: #D5287A;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }
    ol{
        margin: 2.5px 0;
        padding-left: 0;
        list-style-position: inside;
        ul{
            padding-left: 20px
        }
        li{
            margin: 2.5px 0;
        }
    }
}
section{
    width: 100%;
    float: left;
    padding: 60px 0 70px;
    &.banner{
        padding: 86px 0 70px;
    }
    &.violet{
        background-color: #D5287A;
        .content{
            h5{
                color: #fff;
            }
            p{
                color: #fff;
            }
        }
    }
    &.text__image__slider{
        padding: 130px 0 38px;
    }
    &.two__column__text{
        .content{
            column-count: 2;
            column-gap: 30px;
        }
    }
    &.text__editor{
        padding: 60px 0 40px;
    }
    &.faq__section{
        position: relative;
        &::before{
            content: '';
            width: 392px;
            height: 392px;
            display: block;
            border-radius: 50%;
            overflow: hidden;
            background: #D5287A;
            opacity: 0.03;
            position: absolute;
            bottom: -153px;
            left: -196px;
        }
        &::after{
            content: '';
            width: 392px;
            height: 392px;
            display: block;
            border-radius: 50%;
            overflow: hidden;
            background: #D5287A;
            opacity: 0.03;
            position: absolute;
            top: -30px;
            right: -195px;
        }
    }
}
.page__section{
    width: 100%;
    float: left;
    padding: 0px 0 0px;
    &.banner{
        padding: 86px 0 0px;
    }
}
@include media-breakpoint-down(sm) {
    section.text__image__slider{
        .image__slider{
            margin-top: 30px;
        }
    }
}
@include media-breakpoint-down(xs) {
    .service__details,
    section.two__column__text .content{
        column-count: 1;
        column-gap: 0;
    }
}

a,
button,
input[type="submit"]{
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.page__title{
    margin-top: 198px;
    h1{
        margin-bottom: 25px;
    }
}
::-webkit-input-placeholder, 
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(255,255,255,0.9);
}
input{
    &::-webkit-input-placeholder {
        color: #555555;
    }
    &.white::-webkit-input-placeholder {
        color:rgba(255,255,255,0.9);
    }
}

input{
    &:-moz-placeholder {
        color: #555555;
    }
    &.white:-moz-placeholder {
        color:rgba(255,255,255,0.9);
    }
}

input{
    &::-moz-placeholder {
        color: #555555;
    }
    &.white::-moz-placeholder {
        color:rgba(255,255,255,0.9);
    }
}

input{
    &:-ms-input-placeholder {
        color: #555555;
    }
    &.white:-ms-input-placeholder {
        color:rgba(255,255,255,0.9);
    }
}

input{
    &::-ms-input-placeholder {
        color: #555555;
    }
    &.white::-ms-input-placeholder {
        color: rgba(255,255,255,0.9);
    }
}
input.form__submit{

}
a,
.slide{
    outline: none;
}
.btn{
    height: 34px;
    padding: 5px 27px 7px;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    border-radius: 0;
    &::before{
        content: '';
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        position: absolute;
        display: block;
        border: 1px solid;
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
    }
    &.simple__btn{
        background: #D5287A;
        color: #fff;
        border: 2px solid #D5287A;
        &::before{
            border-color: #D5287A;
        }
    }
    &.white__btn{
        background: #fff;
        border: 2px solid #D5287A;
        color: #202020;
        &::before{
            border-color: #D5287A;
        }
    }
    &.violet__btn{
        background: #D5287A;
        border: 2px solid #fff;
        color: #fff;
        &::before{
            border-color: #fff;
        }
    }
    &.disable{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    &:hover{
        &::before{
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
        }
    }
}
.section__title{
    width: 100%;
    float: left;
    h2{
        float: left;
    }
    .services__nav,
    .steps__nav,
    .gets__nav,
    .partners__nav{
        float: left;
        margin: 20px 0 0 22.5px;
        span{
            width: 31px;
            height: 8px;
            display: block;
            float: left;
            margin: 0 7.5px;
            cursor: pointer;
            -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
            &.prev__slide{
                background-image: url(../images/arrow-left.svg);
            }
            &.next__slide{
                background-image: url(../images/arrow-right.svg);
            }
            &:active{
                -webkit-transform: scale(0.8);
                        transform: scale(0.8);
            }
        }
    }
}
.image__slider{
    width: 100%;
    float: left;
    position: relative;
    .slick-arrow{
        width: 31px;
        height: 8px;
        display: block;
        float: left;
        margin: 0 7.5px;
        cursor: pointer;
        background-color: transparent;
        color: transparent;
        font-size: 0;
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        z-index: 1;
        outline: none;
        -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
        &.slick-prev{
            background-image: url(../images/arrow-left.svg);
            left: 0;
        }
        &.slick-next{
            background-image: url(../images/arrow-right.svg);
            right: 0;
        }
        &:active{
            -webkit-transform: scale(0.8);
                    transform: scale(0.8);
        }
    }
    .content{
        width: 100%;
        height: 500px;
        position: relative;
        img{
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translateY(-50%, -50%);
        }
    }
}
.content__editor{
    width: 100%;
    float: left;
}
.gallery__slider{
    width: 100%;
    float: left;
    .content{
        width: 100%;
        height: 500px;
        float: left;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            max-height: 500px;
            width: auto;
            -webkit-transform: translate(-50%, -50%);
                    transform: translateY(-50%, -50%);
        }
    }
    .slick-arrow{
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        margin: 0 7.5px;
        cursor: pointer;
        background-color: #D5287A;
        background-position: center;
        background-repeat: no-repeat;
        color: transparent;
        font-size: 0;
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        z-index: 1;
        outline: none;
        -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
        &.slick-prev{
            background-image: url(../images/arrow-left-white.svg);
            left: 10px;
        }
        &.slick-next{
            background-image: url(../images/arrow-right-white.svg);
            right: 10px;
        }
        &:active{
            -webkit-transform: scale(0.8);
                    transform: scale(0.8);
        }
    }
}
@include media-breakpoint-down(sm) {
    .gallery__slider .content{
        height: 400px;
    }
}
.image__caption__slider{
    width: 100%;
    float: left;
    .slider{
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 12px;
        .slick-arrow{
            width: 40px;
            height: 40px;
            display: block;
            float: left;
            margin: 0 7.5px;
            cursor: pointer;
            background-color: #D5287A;
            background-position: center;
            background-repeat: no-repeat;
            color: transparent;
            font-size: 0;
            border: none;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            z-index: 1;
            outline: none;
            -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
            &.slick-prev{
                background-image: url(../images/arrow-left-white.svg);
                left: 10px;
            }
            &.slick-next{
                background-image: url(../images/arrow-right-white.svg);
                right: 10px;
            }
            &:active{
                -webkit-transform: scale(0.8);
                        transform: scale(0.8);
            }
        }
        .content{
            width: 100%;
            text-align: center;
            img{
                display: inline-block;
            }
        }
    }
}
.images__slider{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 20px;
    .slick-arrow{
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        margin: 0 7.5px;
        cursor: pointer;
        background-color: #D5287A;
        background-position: center;
        background-repeat: no-repeat;
        color: transparent;
        font-size: 0;
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        z-index: 1;
        outline: none;
        -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
        &.slick-prev{
            background-image: url(../images/arrow-left-white.svg);
            left: 10px;
        }
        &.slick-next{
            background-image: url(../images/arrow-right-white.svg);
            right: 10px;
        }
        &:active{
            -webkit-transform: scale(0.8);
                    transform: scale(0.8);
        }
    }
    .content{
        width: 100%;
        text-align: center;
        img{
            display: inline-block;
        }
    }
}
.form__field{
    width: 100%;
    float: left;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #555555;
    border: none;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 17px;
    outline: none;
    &.white{
        border-bottom: 1px solid rgba(255,255,255,0.9);
        color: rgba(255,255,255,0.9);
    }
    &.small{
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        padding-bottom: 6px;
        margin-bottom: 24px;
        font-family: 'Montserrat', sans-serif;
    }
}
textarea.form__field{
    height: 110px;
    resize: none;
}
.submit__btn{
    float: left;
    display: block;
    padding: 2px;
    margin: 15px 0 0;
    border: 1px solid #D5287A;
    position: relative;
    &.white{
        border: 1px solid #fff;
        input[type="submit"]{
            color: #FFFFFF;
            background-color: transparent;
            border: 2px solid #fff;
            &:hover{
                background-color: #fff;
                color: #D5287A;
            }
        }
    }
    input[type="submit"]{
        padding: 6px 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #D5287A;
        border: 2px solid #D5287A;
        cursor: pointer;
        outline: none;
        &:hover{
            background-color: #fff;
            color: #D5287A;
        }
    }
    .ajax-loader{
        position: absolute;
        top: 50%;
        right: -22px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}
.wpcf7-form-control-wrap{
    width: 100%;
    float: left;
}
span.wpcf7-not-valid-tip{
    position: absolute;
    left: 0;
    color: #D5287A;
    bottom: -5px;
    font-size: 12px;
    background-color: #fff;
    line-height: 20px;
    padding: 0 5px;
}
div.wpcf7-response-output{
    width: 100%;
    float: left;
    padding: 8px 10px;
    margin: 15px 0 0;
    font-size: 12px;
    color: #D5287A;
    text-align: center;
    background-color: #fff;
    border-width: 1px;
}
.page__banner{
    width: 100%;
    height: 450px;
    float: left;
    background-position: center;
    background-size: cover;
    .content{
        width: 100%;
        float: left;
        height: 450px;
        position: relative;
        h1{
            position: absolute;
            bottom: 90px;
            left: 0;
            font-weight: 300;
            line-height: normal;
            font-size: 40px;
            color: #353535;
            margin-bottom: 0;
        }
    }
}
/*Front page*/
.front__banner{
    width: 100%;
    height: 760px;
    float: left;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    padding: 0;
    position: relative;
    .slide{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slick-dots{
        width: 100%;
        position: absolute;
        bottom: 40px;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        line-height: 0;
        li{
            display: inline-block;
            padding: 0;
            margin: 0 4px;
            &::before{
                display: none;
            }
            button{
                width: 10px;
                height: 10px;
                display: block;
                border-radius: 50%;
                color: transparent;
                font-size: 0px;
                padding: 0;
                border: none;
                cursor: pointer;
                background-color: #515151;
                outline: none;
            }
            &.slick-active,
            &:hover{
                button{
                    background-color: #D5287A;
                }
            }
        }
    }
    .front__content{
        width: 100%;
        height: 760px;
        float: left;
        position: relative;
        .content{
            position: absolute;
            bottom: 130px;
            left: 0;
            width: 100%;
            float: left;
            h1{
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                font-size: 40px;
                color: #353535;
                margin-bottom: 21px;
            }
            p{
                font-style: normal;
                font-weight: 300;
                line-height: 27px;
                font-size: 18px;
                color: #353535;
                margin-bottom: 0;
            }
        }
    }
}
.services__slider{
    margin: 0 -15px 25px -15px;
    .slide{
        padding: 0 15px;
        a{
            margin-bottom: 15px;
            margin-top: 15px;
        }
    }
}
.text__image__section{
    .content{
        width: 100%;
        float: left;
        margin-top: 140px;
        h2{
            margin-bottom: 12px;
        }
        p{
            margin-bottom: 33px;
        }
    }
}
.how__it__works{
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        z-index: -1;
        display: block;
        background: #e7e7e7;
        left: 0;
        top: 210px;
    }
}
.steps__slider{
    margin-top: 10px;
    margin-left: 20%;
    .content{
        width: 262px;
        margin-left: 10px;
        margin-top: 15px;
        .step{
            width: 90px;
            height: 90px;
            display: block;
            position: relative;
            margin-bottom: 32px;
            background: #fff;
            .circle{
                width: 90px;
                height: 90px;
                display: block;
                position: absolute;
                margin-bottom: 32px;
                background: #fff;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                border: 1px solid transparent;
                -webkit-transition: all 0.8s ease-in-out;
                        transition: all 0.8s ease-in-out;
                -webkit-transform: translate(-50%, -50%);
                        transform: translateY(-50%, -50%);
            }
            .number{
                width: 90px;
                height: 90px;
                display: block;
                border-radius: 50%;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
                line-height: 90px;
                font-size: 40px;
                color: #D5287A;
                text-align: center;
                position: relative;
                z-index: 2;
                -webkit-transition: all 0.8s ease-in-out;
                        transition: all 0.8s ease-in-out;
            }
        }
        h6{
            margin-bottom: 7px;
        }
        p{
            margin-bottom: 0;
            opacity: 0;
            visibility: hidden;
            -webkit-transform: translateY(30px);
                    transform: translateY(30px);
            -webkit-transition: all 0.8s ease-in-out;
                    transition: all 0.8s ease-in-out;
        }
    }
    .slide.slick-current{
        .content{
            .step{
                .circle{
                    width: 110px;
                    height: 110px;
                    border-color: #D5287A;
                }
                .number{
                    background: #D5287A;
                    color: #fff;
                }
            }
            p{
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                        transform: translateY(0);
            }
        }
    }
}
.contact__form__section{
    .content{
        h5{
            margin-bottom: 13px;
        }
        p{
            margin-bottom: 0;
        }
    }
}
.get__slider{
    margin: 0 -15px 40px;
    .get__block{
        width: 100%;
        height: 245px;
        float: left;
        padding: 0 15px;
        margin: 10px 0;
        .content{
            width: 100%;
            height: 245px;
            background: #FFFFFF;
            border: 1px solid #F7F7F7;
            box-sizing: border-box;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
            position: relative;
            overflow: hidden;
        }
        .step{
            width: 133px;
            height: 133px;
            display: block;
            position: absolute;
            border-radius: 50%;
            top: -27px;
            left: -21px;
            .circle{
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background: #D5287A;
                opacity: 0.03;
                border-radius: 50%;
            }
            .number{
                font-weight: 300;
                line-height: normal;
                font-size: 40px;
                color: #D5287A;
                position: absolute;
                bottom: 32px;
                right: 47px;
            }
        }
        h6{
            position: absolute;
            top: 160px;
            left: 20px;
            right: 20px;
        }
    }
}
.result__wrapper{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 36px;
    .result__nav{
        position: absolute;
        top: 330px;
        left: 482.5px;
        z-index: 1;
        span{
            width: 31px;
            height: 8px;
            display: block;
            float: left;
            margin: 0 7.5px;
            cursor: pointer;
            -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
            &.prev__slide{
                background-image: url(../images/arrow-left.svg);
            }
            &.next__slide{
                background-image: url(../images/arrow-right.svg);
            }
            &:active{
                -webkit-transform: scale(0.8);
                        transform: scale(0.8);
            }
        }
    }
}
.results__slider{
    .result__block{
        width: 100%;
        /*height: 685px;*/
        float: left;
        position: relative;
        .images{
            width: 460px;
            /*height: 625px;*/
           /* position: absolute;
            top: 0;
            left: 0;*/
            span.diagnosis{
                font-weight: 300;
                line-height: 24px;
                font-size: 16px;
                color: #202020;
                /*position: absolute;
                left: 0;
                top: 637px;*/
            }
        }
        .content{
            position: absolute;
            left: 490px;
            right: 0;
            bottom: 80px;
            p{
                font-weight: 300;
                line-height: 28px;
                font-size: 16px;
                color: #202020;
                margin-bottom: 11px;
            }
            h6{
                margin-bottom: 6px;
            }
            span{
                font-family: 'Open Sans', sans-serif;
                font-weight: normal;
                line-height: 28px;
                font-size: 16px;
                color: #202020;
            }
        }
    }
}
.ba-slider{
    overflow: visible;
    .handle{
        width: 0px;
        margin-left: 0;
        &::after{
            content: '';
            width: 60px;
            height: 60px;
            background-color: #fff;
            border: 1px solid #F7F7F7;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
            margin: -30px 0 0 -30px;
            z-index: 2;
            background-image: url(../images/before-after-arrow.svg);
            background-repeat: no-repeat;
            background-size: 32px 12px;
            background-position: center;
        }
    }
}
.map__section{
    width: 100%;
    height: 600px;
    float: left;
    padding: 0;
    margin-bottom: -80px;
    .map__wrapper{
        width: 100%;
        height: 600px;
        position: relative;
    }
    .map__block{
        width: 100%;
        float: left;
        height: 600px;
        position: relative;
        .contact__block{
            width: 360px;
            padding: 32px 20px;
            background: #FFFFFF;
            border: 1px solid #F7F7F7;
            box-sizing: border-box;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
            position: absolute;
            bottom: 50px;
            left: 230px;
            h6{
                font-weight: 300;
                line-height: normal;
                font-size: 20px;
                color: #202020;
                margin-bottom: 16px;
            }
            .address,
            .phones,
            .email{
                width: 100%;
                float: left;
                padding-left: 31px;
                margin-bottom: 15px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                line-height: 24px;
                font-size: 16px;
                color: #202020;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                }
            }
            .address::before{
                width: 15px;
                height: 20px;
                background-image: url(../images/address_icon.svg);
                top: 2px;
            }
            .phones{
                a{
                    display: block;
                    clear: both;
                    font-family: 'Open Sans',sans-serif;
                    font-weight: 300;
                    line-height: 24px;
                    font-size: 16px;
                    color: #202020;
                    &:hover{
                        text-decoration: none;
                        color: #D5287A;
                    }
                }
                &::before{
                    width: 15px;
                    height: 15px;
                    background-image: url(../images/phone_icon.svg);
                    top: 4px;
                }
            }
            .email{
                margin-bottom: 0;
                &::before{
                    width: 17px;
                    height: 12px;
                    background-image: url(../images/email_icon.svg);
                    top: 6px;
                }
            }
        }
        .form__block{
            width: 555px;
            display: block;
            position: absolute;
            right: 230px;
            bottom: 50px;
            padding: 43px 30px 50px;
            background: #FFFFFF;
            border: 1px solid #F7F7F7;
            box-sizing: border-box;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
            span.wpcf7-not-valid-tip{
                bottom: 3px;
            }
        }
    }
    .location__list{
        display: none;
    }
}
@media screen and (max-width: 1500px){
    .map__section {
        .map__block{
            .contact__block{
                left: 100px;
            }
            .form__block{
                width: 400px;
                right: 100px;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .result__wrapper .result__nav{
        top: 150px;
    }
}
@include media-breakpoint-down(md) {
    .text__image__section .content{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .steps__slider{
        margin-left: 0;
    }
    .result__wrapper .result__nav{
        position: static;
        width: 100%;
        float: left;
        margin: 0 0 30px;
    }
    .results__slider {
        width: 100%;
        float: left;
        .result__block{
            .images{
                width: 100%;
                float: left;
            }
            .content{
                width: 100%;
                float: left;
                position: static;
                left: 0;
                margin-top: 20px;
            }
        }
    }
    .map__section{
        height: auto;
        .map__block{
            height: auto;
            .contact__block{
                top: 50px;
                right: 30px;
                bottom: auto;
                left: auto;
            }
            .form__block{
                position: static;
                width: 100%;
                float: left;
                margin: 0;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .front__banner {
        height: 600px;
        .front__content {
            height: 600px;
            .content {
                bottom: 80px;
                h1{
                    font-size: 32px;
                }
            }
        }
    }
    section{
        padding: 30px 0 35px;
    }
    .section__title h2{
        font-size: 32px;
    }
    .section__title .gets__nav,
    .section__title .partners__nav,
    .section__title .services__nav,
    .section__title .steps__nav{
        margin: 17px 0 0 10px;
    }
    .how__it__works::before{
        top: 170px;
    }
    .page__section.banner{
        padding: 67px 0 0 0;
    }
}
@include media-breakpoint-down(xs) {
    .map__section{
        .map__block{
            .map__wrapper{
                height: 400px;
            }
            .contact__block{
                position: static;
                width: 100%;
                float: left;
                margin: 0 0 20px 0;
            }

        }
    }
}
/*Price page*/
.price__tabs{
    width: 100%;
    float: left;
    margin-bottom: 40px;
    .tabs__nav{
        width: 100%;
        float: left;
        display: flex;
        margin-bottom: 40px;
        .tab{
            width: 100%;
            display: inline-flex;
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #202020;
            padding: 8px 0;
            border-top: 1px solid #D1D1D1;
            border-bottom: 1px solid #D1D1D1;
            cursor: pointer;
            -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
            &:first-child{
                border-left: 1px solid #D1D1D1;
            }
            &:last-child{
                border-right: 1px solid #D1D1D1;
            }
            &.active,
            &:hover{
                background-color: #D5287A;
                color: #fff;
                border-color: #D5287A;
            }
            span{
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    }
    .tab__blocks{
        width: 100%;
        float: left;
        .tab__block{
            display: none;
            &.active{
                display: block;
            }
            .tab__head{
                width: 100%;
                float: left;
                .tab__row{
                    width: 100%;
                    float: left;
                    display: flex;
                    .tab__column{
                        width: 100%;
                        display: inline-flex;
                        background-color: #F4F4F4;
                        &:first-child{
                            min-width: 350px;
                            background-color: transparent;
                        }
                        span{
                            display: block;
                            width: 100%;
                            min-width: 50px;
                            padding: 9px 0 11px;
                            text-align: center;
                            font-weight: normal;
                            line-height: normal;
                            font-size: 16px;
                            color: #202020;
                        }
                    }
                }
            }
            .tab__description{
                width: 100%;
                float: left;
                margin-bottom: 23px;
                p{
                    margin-bottom: 0;
                }
            }
            .tab__body{
                width: 100%;
                float: left;
                .tab__row{
                    width: 100%;
                    display: inline-flex;
                    float: left;
                    margin: 1px 0;
                    border: 1px solid #F2F2F2;
                    .tab__column{
                        width: 100%;
                        display: inline-flex;
                        &.title{
                            min-width: 350px;
                            background-color: #F4F4F4;
                            span{
                                text-align: left;
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                        }
                        span{
                            display: block;
                            width: 100%;
                            min-width: 50px;
                            padding: 9px 0 11px;
                            text-align: center;
                            font-weight: normal;
                            line-height: normal;
                            font-size: 16px;
                            color: #202020;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .price__tabs .tabs__nav .tab{
        font-size: 12px;
    }
    .price__tabs .tab__blocks .tab__block .tab__head .tab__row .tab__column:first-child,
    .price__tabs .tab__blocks .tab__block .tab__body .tab__row .tab__column.title{
        min-width: 220px;
    }
    .price__tabs .tab__blocks .tab__block .tab__body .tab__row .tab__column span{
        font-size: 12px;
    }
    .price__tabs .tab__blocks .tab__block .tab__head .tab__row .tab__column span{
        font-size: 12px;
    }
}
@include media-breakpoint-down(sm) {
    .price__tabs .tabs__nav{
        display: block;
        .tab{
            display: block;
            border-top: 1px solid #D1D1D1;
            border-left: 1px solid #D1D1D1;
            border-right: 1px solid #D1D1D1;
        }
    }
    .price__tabs .tab__blocks .tab__block .tab__head .tab__row .tab__column:first-child,
    .price__tabs .tab__blocks .tab__block .tab__body .tab__row .tab__column.title{
        min-width: 150px;
    }
}
.partners__slider{
    margin: 0 -15px;
    .slide{
        padding: 0 15px;
        margin: 15px 0;
        .partner__block{
            width: 100%;
            height: 245px;
            padding: 157px 20px 10px 20px;
            float: left;
            background: #FFFFFF;
            border: 1px solid #F7F7F7;
            box-sizing: border-box;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
            overflow: hidden;
            position: relative;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
            &::before{
                content: '';
                width: 133px;
                height: 133px;
                display: block;
                position: absolute;
                bottom: -49px;
                right: -57px;
                background: #D5287A;
                opacity: 0.03;
                border-radius: 50%;
            }
            .avatar{
                width: 90px;
                height: 90px;
                display: block;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                top: 30px;
                left: 20px;
                -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
            }
            h6{
                margin-bottom: 17px;
                font-weight: 300;
                line-height: normal;
                font-size: 18px;
            }
            p{
                margin-bottom: 0;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
            }
            &:hover{
                padding: 24px 20px 10px 20px;
                border-color: #D5287A;
                .avatar{
                    opacity: 0;
                    visibility: hidden;
                }
                p{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.faq__block{
    width: 100%;
    float: left;
    margin-bottom: 40px;
    .faq__content{
        width: 50%;
        float: left;
        padding: 0 15px;
        margin: 10px 0;
    }
    .faq{
        width: 100%;
        float: left;
        display: block;
        border: 1px solid #F7F7F7;
        box-sizing: border-box;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
        &.show{
            .title{
                span{
                    &::after{
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
        .title{
            width: 100%;
            height: 62px;
            position: relative;
            cursor: pointer;
            span{
                width: 22px;
                height: 22px;
                display: block;
                cursor: pointer;
                position: absolute;
                top: 20px;
                right: 20px;
                -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                &::before{
                    content: '';
                    width: 22px;
                    height: 1px;
                    display: block;
                    background-color: #D5287A;
                    top: 50%;
                    left: 0;
                    margin-top: -0.5px;
                    position: absolute;
                }
                &::after{
                    content: '';
                    width: 1px;
                    height: 22px;
                    display: block;
                    background-color: #D5287A;
                    top: 0;
                    left: 50%;
                    margin-left: -0.5px;
                    position: absolute;
                    -webkit-transition: all .3s ease-in-out;
                            transition: all .3s ease-in-out;
                }
                &:active{
                    -webkit-transform: scale(0.8);
                            transform: scale(0.8);
                }
            }
        }
        h6{
            margin-bottom: 0;
            position: absolute;
            top: 50%;
            left: 30px;
            right: 70px;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
        .text{
            width: 100%;
            padding: 0 30px 18px 30px;
            float: left;
            display: none;
            p{
                margin-bottom: 0;
            }
        }
    }
}
.contacts__block{
    width: 100%;
    float: left;
    margin-bottom: 100px;
    div{
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 24px;
        font-size: 16px;
        color: #202020;
        padding-left: 30px;
        &.address::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 15px;
            height: 20px;
            background-image: url(../images/address_icon.svg);
            top: 2px;
        }
        &.phones{
            a{
                clear: both;
                display: block;
                line-height: 30px;
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 15px;
                height: 15px;
                background-image: url(../images/phone_icon.svg);
                top: 6px;
            }
        }
        &.email::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 17px;
            height: 12px;
            background-image: url(../images/email_icon.svg);
            top: 7px;
        }
        p{
            margin-bottom: 0px;
        }
        a{
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            line-height: 24px;
            font-size: 16px;
            color: #202020;
            &:hover{
                text-decoration: none;
                color: #D5287A;
            }
        }
        &.text{
            padding-left: 0;
        }
        &.title{
            margin-bottom: 9px;
            padding-left: 0;
            h6{
                margin-bottom: 0;
            }
        }
        &.additional__phones{
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 15px;
                height: 15px;
                background-image: url(../images/phone_icon.svg);
                top: 5px;
            }
            a{
                margin-right: 10px;
            }
        }
    }
}
.table__row{
    width: 100%;
    float: left;
    margin: 80px 0 40px;
}
@include media-breakpoint-down(md) {
    .faq__block .faq__content{
        width: 100%;
        padding: 0;
    }
}
@include media-breakpoint-down(sm) {
    .contacts__block{
        margin-bottom: 50px;
    }
}