body{
    &.admin-bar{
        header,
        .burger__menu{
            top: 32px;
        }
    }
}
header{
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 25px;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    &.transparent{
        background-color: transparent;
        border-bottom: 1px solid transparent;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background-color: #fff;
            left: 0;
            top: -100%;
            position: absolute;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
        }
        &.background{
            &::before{
                top: 0;
            }
            border-bottom: 1px solid #eaeaea;
        }
    }
    .logo{
        width: 90px;
        img{
            width: 100%;
            height: auto;
        } 
    }
    .main__nav{
        margin: 27px 0 0 109px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                float: left;
                margin: 0 20px;
                padding-left: 0;
                &::before{
                    display: none;
                }
                &.current-menu-item{
                    a{
                        color: #D5287A;
                        &::before{
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                a{
                    font-weight: normal;
                    line-height: normal;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: #202020;
                    position: relative;
                    &:hover{
                        text-decoration: none;
                        color: #D5287A;
                        &::before{
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        width: 100%;
                        display: block;
                        height: 1px;
                        background-color: #D5287A;
                        -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                        opacity: 0;
                        visibility: hidden;
                        -webkit-transition: all .3s ease-in-out;
                                transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
    .right__bar{
        margin-top: 22px;
        .contact__block{
            margin-right: 30px;
            margin-top: 4px;
            a{
                display: block;
                float: left;
                margin: 0 10px;
                &.messenger{
                    width: 24px;
                    height: 24px;
                    background-image: url(../images/messenger-violet.svg);
                    &:hover{
                        background-image: url(../images/messenger-grey.svg);
                    }
                }
                &.viber{
                    width: 22px;
                    height: 24px;
                    background-image: url(../images/viber-violet.svg);
                    &:hover{
                        background-image: url(../images/viber-grey.svg);
                    }

                }
                &.whatsapp{
                    width: 24px;
                    height: 24px;
                    background-image: url(../images/whatsapp-violet.svg);
                    &:hover{
                        background-image: url(../images/whatsapp-grey.svg);
                    }
                }
            }

        }
        .phone__number{
            position: relative;
            font-weight: normal;
            line-height: 24px;
            font-size: 16px;
            color: #202020;
            padding-left: 28px;
            margin-right: 40px;
            margin-top: 4px;
            &::before{
                content: '';
                width: 18px;
                height: 18px;
                position: absolute;
                display: block;
                background-image: url(../images/phone-icon.svg);
                left: 0;
                top: 4px;
            }
            &:hover{
                text-decoration: none;
                color: #D5287A;
            }
        }
    }
    
    &.transparent{
        .contact__block{
            a{
                &.messenger{
                    background-image: url('../images/messenger-violet.svg')!important;
                }
                &.viber{
                    background-image: url('../images/viber-violet.svg')!important;
                }
                &.whatsapp{
                    background-image: url('../images/whatsapp-violet.svg')!important;
                }
                &:hover{
                    &.messenger{
                        background-image: url('../images/messenger-grey.svg')!important;
                    }
                    &.viber{
                        background-image: url('../images/viber-grey.svg')!important;
                    }
                    &.whatsapp{
                        background-image: url('../images/whatsapp-grey.svg')!important;
                    }
                }
            }
        }
        .main__nav ul li{
            a{
                color: #D5287A;
            }
            &.current-menu-item{
                a{
                    color: #202020;
                }
            }
        }
        &.background{
            .main__nav ul li{
                a{
                    color: #202020;
                    &:hover{
                        color: #D5287A;
                    }
                }
                &.current-menu-item{
                    a{
                        color: #D5287A;
                    }
                }
            }
            .contact__block{
                a{
                    opacity: 1;
                    &.messenger{
                        background-image: url('../images/messenger-grey.svg')!important;
                        &:hover{
                            background-image: url('../images/messenger-violet.svg')!important;
                        }
                    }
                    &.viber{
                        background-image: url('../images/viber-grey.svg')!important;
                        &:hover{
                            background-image: url('../images/viber-violet.svg')!important;
                        }

                    }
                    &.whatsapp{
                        background-image: url('../images/whatsapp-grey.svg')!important;
                        &:hover{
                            background-image: url('../images/whatsapp-violet.svg')!important;
                        }
                    }
                }
            }
        }
    }
}
.full__menu{
    width: 28px;
    height: 32px;
    cursor: pointer;
    margin-left: 30px;
    position: relative;
    span{
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #202020;
        float: left;
        left: 0;
        &:nth-child(1){
            top: 6px;
        }
        &:nth-child(2){
            top: 15px;
        }
        &:nth-child(3){
            top: 24px;
        }
    }
    &.hide{
        span{
            &:nth-child(1){
                top: 16px;
                -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
            }
            &:nth-child(3){
                top: 16px;
                -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
            }
            &:nth-child(2){
                display: none;
            }
        }
    }
}
.lang__switcher{
    width: 67px;
    height: 32px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    position: relative;
    z-index: 10;
    .current{
        width: 100%;
        float: left;
        line-height: 30px;
        display: block;
        border: 1px solid #D5287A;
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
    }
    ul{
        width: 100%;
        margin: 0;
        padding: 0;
        top: 100%;
        left: 0px;
        list-style: none;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        background-color: #fff;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
        border: 1px solid #D5287A;
        li{
            width: 100%;
            float: left;
            padding-left: 0;
            margin: 0;
            &::before{
                display: none;
            }
            a{
                width: 100%;
                line-height: 32px;
                display: block;
                color: #353535;
                &:hover{
                    background-color: #D5287A;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    &:hover{
        .current{
            background-color: #D5287A;
            color: #fff;
        }
        ul{
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}
.burger__menu{
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    display: block;
    z-index: 100;
    pointer-events: none;
    visibility: hidden;
    &::before{
        content: '';
        width: 472px;
        height: 472px;
        border-radius: 50%;
        background: #D5287A;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        right: -236px;
        top: 50%;
        margin-top: -236px;
        z-index: 2;
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
    }
    &.show{
        pointer-events: inherit;
        visibility: visible;
        &::before{
            opacity: 0.03;
            visibility: visible;
        }
        .main__burger{
            left: 0;
        }
        .service__burger{
            left: 35%;
        }
        .additional__row{
            opacity: 1;
            visibility: visible;
        }
    }
    .main__burger{
        width: 35%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -35%;
        display: block;
        overflow: hidden;
        background-color: #FAFAFA;
        -webkit-transition: all .7s ease-in-out;
                transition: all .7s ease-in-out;
        z-index: 2;
        .navigation{
            position: absolute;
            top: 50%;
            left: 35%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            nav{
                width: 100%;
                float: left;
            }
            .show__service{
                width: 100%;
                float: left;
                margin-top: 20px;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                text-transform: capitalize;
                color: #202020;
                position: relative;
                cursor: pointer;
                span{
                    display: block;
                    float: left;
                }
                i{
                    width: 31px;
                    height: 8px;
                    display: block;
                    float: left;
                    margin: 7px 0 0 7.5px;
                    cursor: pointer;
                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    background-image: url(../images/arrow-right.svg);
                }
                &:active{
                    i{
                        -webkit-transform: scale(.8);
                                transform: scale(.8);
                    }
                }
            }
            ul{
                width: 100%;
                float: left;
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    line-height: 22px;
                    padding: 11px 0;
                    &.current-menu-item{
                        a{
                            color: #D5287A;
                            &::before{
                                -webkit-transform: translateX(0);
                                transform: translateX(0);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    a{
                        font-weight: normal;
                        line-height: normal;
                        font-size: 18px;
                        text-transform: capitalize;
                        color: #202020;
                        position: relative;
                        &:hover{
                            text-decoration: none;
                            color: #D5287A;
                            &::before{
                                -webkit-transform: translateX(0);
                                transform: translateX(0);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            width: 100%;
                            display: block;
                            height: 1px;
                            background-color: #D5287A;
                            -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                            opacity: 0;
                            visibility: hidden;
                            -webkit-transition: all .3s ease-in-out;
                                    transition: all .3s ease-in-out;
                        }
                    }
                }
            }
        }
        .phone__number{
            position: absolute;
            bottom: 75px;
            left: 15px;
        }
        .social__block{
            float: left;
            position: absolute;
            left: 35%;
            bottom: 20px;
            a{
                margin-left: 0;
                margin-right: 10px;
            }
        }
    }
    .service__burger{
        width: 65%;
        position: absolute;
        height: 100%;
        top: 0;
        left: -65%;
        display: block;
        background-color: #fff;
        overflow: hidden;
        -webkit-transition: all .7s ease-in-out;
                transition: all .7s ease-in-out;
        -webkit-transition-delay: .35s;
                transition-delay: .35s;
        z-index: 1;
        .navigation{
            width: 60%;
            position: absolute;
            top: 50%;
            left: 0;
            padding: 0 30px;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            h5{
                font-weight: normal;
                line-height: normal;
                font-size: 24px;
                text-transform: capitalize;
                color: #202020;
                margin-bottom: 23.5px;
            }
            .show__main{
                width: 100%;
                float: left;
                margin-top: 30px;
                margin-bottom: 15px;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                text-transform: capitalize;
                color: #202020;
                position: relative;
                cursor: pointer;
                span{
                    display: block;
                    float: left;
                }
                i{
                    width: 31px;
                    height: 8px;
                    display: block;
                    float: left;
                    margin: 7px 7.5px 0 0;
                    cursor: pointer;
                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    background-image: url(../images/arrow-left.svg);
                }
                &:active{
                    i{
                        -webkit-transform: scale(.8);
                                transform: scale(.8);
                    }
                }
            }
        }
        nav{
            width: 100%;
            float: left;
            ul{
                width: 100%;
                float: left;
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    width: 50%;
                    float: left;
                    line-height: 22px;
                    padding: 13.5px 0;
                    a{
                        font-weight: normal;
                        line-height: normal;
                        font-size: 18px;
                        text-transform: capitalize;
                        color: #202020;
                        position: relative;
                        &:hover{
                            text-decoration: none;
                            color: #D5287A;
                            &::before{
                                -webkit-transform: translateX(0);
                                transform: translateX(0);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            width: 100%;
                            display: block;
                            height: 1px;
                            background-color: #D5287A;
                            -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                            opacity: 0;
                            visibility: hidden;
                            -webkit-transition: all .3s ease-in-out;
                                    transition: all .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    .additional__row{
        width: 100%;
        padding: 27px 40px;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
        -webkit-transition-delay: .7s;
                transition-delay: .7s;
        .logo{
            position: absolute;
            top: 15px;
            left: 40px;
        }
    }
    .right__bar{
        margin-top: 5px;
    }
    .phone__number{
        position: relative;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        color: #202020;
        padding-left: 28px;
        margin-right: 40px;
        margin-top: 4px;
        &::before{
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            display: block;
            background-image: url(../images/phone-icon.svg);
            left: 0;
            top: 4px;
        }
        &:hover{
            text-decoration: none;
            color: #D5287A;
        }
    }
}
@media screen and (max-width: 1500px) {
    header .main__nav{
        margin: 27px 0 0 20px;
        ul{
            li{
                margin: 0 15px;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    header {
        .main__nav{
            margin: 27px 0 0 10px;
            ul{
                li{
                    margin: 0 10px;
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
        .right__bar{
            .phone__number{
                margin-right: 20px;
            }
            .contact__block{
                margin-right: 10px;
                a{
                    margin: 0 5px;
                }
            }
        }
    }
    .full__menu{
        margin-left: 15px;
    }
    .burger__menu{
        .main__burger{
            .navigation,
            .social__block{
                left: 40px;
            }
        }
        .service__burger{
            .navigation{
                width: 80%;
            }
        }
        .phone__number{
            margin-right: 20px;
        }
    }
}
@include media-breakpoint-down(md) {
    .burger__menu{
        .additional__row {
            .logo{
                width: 90px;
                height: 82.6px;
                left: 40px;
                top: 10px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .main__burger{
            .navigation,
            .social__block{
                left: 40px;
            }
            .navigation{
                ul{
                    li{
                        padding: 5px 0;
                    }
                }
            }
        }
        .service__burger {
            .navigation{
                width: 100%;
                padding: 0 40px;
                nav{
                    ul{
                        li{
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    header{
        height: 67px;
        .logo{
            width: 65px;
            height: 60px;
            position: absolute;
            margin: -6px 0 0 0;
            img{
                width: 100%;
                height: auto;
            }
        }
        .right__bar{
            margin-top: 7px;
        }
    }
    .burger__menu{
        .additional__row{
            padding: 12px 40px;
            .logo{
                width: 65px;
                height: 60px;
                top: 4px;
                left: 40px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .main__burger{
            left: -100%;
            width: 100%;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
            .navigation{
                ul{
                    li{
                        padding: 2.5px 0;
                    }
                }
            }
            .phone__number{
                left: 40px;
            }
        }
        .service__burger{
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
            -webkit-transition-delay: 0s;
                    transition-delay: 0s;
            .navigation{
                padding: 0 15px;
                h5{
                    width: 100%;
                    float: left;
                    margin-bottom: 15px;
                }
                nav{
                    ul{
                        li{
                            width: 100%;
                            padding: 2.5px 0;
                        }
                    }
                }
            }
        }
        &.show{
            .service__burger{
                width: 100%;
                left: -100%;
                z-index: 3;
                &.show{
                    left: 0;
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    header{
        padding: 10px 0;
    }
    .burger__menu .additional__row{
        padding: 12px 15px;
        .logo{
            left: 15px;
        }
    }
    .burger__menu .main__burger {
        .phone__number,
        .navigation,
        .social__block{
            left: 15px;
        }
    }
}