.photos__banner{
    width: 100%;
    height: 450px;
    float: left;
    margin-top: 86px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .content{
        width: 100%;
        height: 450px;
        float: left;
        position: relative;
        h1{
            width: 100%;
            position: absolute;
            bottom: 90px;
            left: 0;
            margin-bottom: 0;
        }
    }
}
.photos__navigation{
    width: 100%;
    float: left;
    margin: 80px 0 15px;
    .photos__nav{
        width: 100%;
        float: left;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 0;
        ul{
            display: inline-block;
            margin: 0;
            border: 1px solid #D5287A;
        }
        li{
            padding: 0;
            margin: 0;
            float: left;
            line-height: 0;
            &.current-menu-item{
                a{
                    text-decoration: none;
                    color: #fff;
                    background-color: #D5287A;
                }
            }
            &::before{
                display: none;
            }
            a{
                min-width: 225px;
                padding: 7px 30px 6px;
                display: block;
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                text-align: center;
                text-transform: uppercase;
                color: #353535;
                &:hover{
                    text-decoration: none;
                    color: #fff;
                    background-color: #D5287A;
                }
            }
        }
    }
}
.photos__section{
    width: 100%;
    float: left;
    padding-bottom: 115px;
    position: relative;
    &.padding{
        padding-top: 65px;
        padding-bottom: 50px;
    }
    &::before{
        content: '';
        width: 392px;
        height: 392px;
        display: block;
        position: absolute;
        top: 314px;
        left: -196px;
        background: #D5287A;
        opacity: 0.03;
        border-radius: 50%;
    }
    &::after{
        content: '';
        width: 392px;
        height: 392px;
        display: block;
        position: absolute;
        bottom: -15px;
        right: -195px;
        background: #D5287A;
        opacity: 0.03;
        border-radius: 50%;
    }
}
.photo__block{
    width: 100%;
    float: left;
    margin: 15px 0;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    .thumbmail{
        width: 100%;
        height: 308px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
    }
    .title{
        width: 100%;
        height: 92px;
        float: left;
        position: relative;
        h6{
            position: absolute;
            top: 50%;
            left: 30px;
            right: 30px;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            color: #202020;
            margin-bottom: 0;
        }
    }
    &:hover{
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
        h6{
            color: #D5287A;
        }
    }
}
.photos__slider{
    width: 100%;
    float: left;
    margin: 0 -15px 46px;
    .content{
        width: 100%;
        float: left;
        .block{
            width: 50%;
            float: left;
            padding: 0 15px;
            .caption{
                width: 100%;
                float: left;
                margin-bottom: 25px;
                h6{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 24px;
                    font-size: 16px;
                    color: #202020;
                    margin-bottom: 0;
                }
            }
        }
    }
    .slick-arrow{
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        margin: 0 7.5px;
        cursor: pointer;
        background-color: #D5287A;
        background-position: center;
        background-repeat: no-repeat;
        color: transparent;
        font-size: 0;
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        z-index: 1;
        outline: none;
        -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
        &.slick-prev{
            background-image: url(../images/arrow-left-white.svg);
            left: 15px;
        }
        &.slick-next{
            background-image: url(../images/arrow-right-white.svg);
            right: 15px;
        }
        &:active{
            -webkit-transform: scale(0.8);
                    transform: scale(0.8);
        }
    }
}
@include media-breakpoint-down(md) {
    .photos__navigation .photos__nav ul{
        width: 100%;
        float: left;
        li{
            width: 100%;
            float: left;
            a{
                min-width: inherit;
                width: 100%;
            }
        }
    }
}