.press__navigation{
    float: left;
    border: 1px solid #D1D1D1;
    li{
        line-height: 18px;
        cursor: pointer;
        float: left;
        margin: 0;
        padding: 0;
        &::before{
            display: none;
        }
        span{
            min-width: 130px;
            text-align: center;
            padding: 8px 40px;
            display: block;
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            text-transform: uppercase;
            color: #202020;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
        }
        &.active,
        &:hover{
            span{
                background-color: #D5287A;
                color: #fff;
            }
        }
    }
}
.press__grid,
.post__grid{
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    &.load{
        opacity: 0.5;
        pointer-events: none;
    }
    &::before{
        content: '';
        display: block;
        width: 392px;
        height: 392px;
        position: absolute;
        background: #D5287A;
        opacity: 0.03;
        top: -50px;
        right: -500px;
        border-radius: 50%;
    }
    &::after{
        content: '';
        display: block;
        width: 392px;
        height: 392px;
        position: absolute;
        background: #D5287A;
        opacity: 0.03;
        bottom: -150px;
        left: -500px;
        border-radius: 50%;
    }
}
.more__posts{
    margin: 25px 0 0 0;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    &.load{
        opacity: 0.5;
        pointer-events: none;
    }
}
.press__block{
    width: 100%;
    height: 207px;
    overflow: hidden;
    float: left;
    margin: 15px 0;
    padding: 32px 30px 33px;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    position: relative;
    &.audio{
        &::before{
            content: '';
            width: 25px;
            height: 24px;
            display: block;
            position: absolute;
            top: 25px;
            right: 25px;
            background-image: url(../images/audio-format.svg);
        }
    }
    &.video{
        &::before{
            content: '';
            width: 25px;
            height: 16px;
            display: block;
            position: absolute;
            top: 25px;
            right: 25px;
            background-image: url(../images/video-format.svg);
        }
    }
    .details{
        width: 100%;
        height: 24px;
        float: left;
        margin-bottom: 3px;
        span{
            font-family: Open Sans;
            font-weight: 300;
            line-height: 24px;
            font-size: 16px;
            color: #202020;
        }
    }
    h6{
        color: #202020;
        margin-bottom: 16px;
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
    }
    p{
        margin-bottom: 0;
    }
    &:hover{
        text-decoration: none;
        border-color: #D5287A;
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
        h6{
            color: #D5287A;
        }
    }
    &::after{
        content: '';
        width: 133px;
        height: 133px;
        display: block;
        position: absolute;
        right: -43px;
        bottom: -33px;
        background: #D5287A;
        opacity: 0.03;
        border-radius: 50%;
    }
}
.nav__row{
    width: 100%;
    float: left;
    margin-bottom: 38px;
    i{
        display: block;
        float: left;
        width: 31px;
        height: 8px;
        background-image: url(../images/arrow-left.svg);
        margin: 9px 20px 0 0;
        -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
    }
    a{
        font-weight: 600;
        line-height: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: #353535;
        &:hover{
            text-decoration: none;
            color: #D5287A;
            i{
                margin: 9px 10px 0 0;
            }
        }
    }
}
.subtitle__row{
    width: 100%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
    color: #202020;
    margin-bottom: 9px;
}
.press__title{
    width: 100%;
    float: left;
    h1{
        font-weight: 300;
        line-height: normal;
        font-size: 32px;
        color: #202020;
        margin-bottom: 31px;
    }
}
.more__rand__press{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.single-press,
.single-photo,
.single-equipment,
.single-post{
    .page__link{
        margin-top: 25px;
    }
}
@include media-breakpoint-down(lg) {
    .press__block{
        height: 250px;
    }
}
@include media-breakpoint-down(sm) {
    .press__block{
        height: auto;
    }
}
@include media-breakpoint-down(sm) {
    .press__navigation li{
        width: 100%;
    }
}