.service__block{
    width: 100%;
    height: 245px;
    float: left;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin: 15px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
    &::before{
        content: '';
        width: 133px;
        height: 133px;
        position: absolute;
        display: block;
        border-radius: 50%;
        background: #D5287A;
        opacity: 0.03;
        bottom: -49px;
        right: -57px;
    }
    .icon{
        position: absolute;
        top: 30px;
        left: 20px;
        display: block;
        -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
    }
    .content{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 170px;
        left: 0;
        padding: 15px 20px;
        overflow: hidden;
        background-color: #fff;
        -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
    }
    h6{
        color: #202020;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p{
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
    }
    &:hover{
        border: 1px solid #D5287A;
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        .content{
            top: 0;
            p{
                opacity: 1;
                visibility: visible;
            }
        }
        .icon{
            -webkit-transform: scale(0.85) translate(-10px, -10px);
                    transform: scale(0.85) translate(-10px, -10px);
        }
    }
}
.service__title{
    width: 100%;
    float: left;
    .icon{
        margin-bottom: 12px;
    }
}
.service__price{
    float: right;
    text-align: right;
    margin-top: 77px;
    span{
        font-weight: normal;
        line-height: 27px;
        font-size: 18px;
        color: #202020;
    }
    h5{
        font-weight: normal;
        line-height: 32px;
        font-size: 24px;
        color: #D5287A;
        margin-bottom: 0;
        margin-top: -5px;
    }
}
.service__details{
    width: 100%;
    float: left;
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 40px;
}
.get__service{
    width: 100%;
    float: left;
    margin: 33px 0 51px;
}
@include media-breakpoint-down(md) {
    .service__price{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .service__details{
        column-count: 1;
        column-gap: 0;
    }
}